.skills {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.skills-content-wrapper {
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.skills__content {
    display: flex;
    flex-direction: column;
}

.content-skills__title {
    margin: 0px 0px 20px 50px;
    font-size: 25px;
}

.content-skills__link {
    font-size: 12px;
    margin: 0px 0px 20px 50px;
    text-decoration: none;
    color: rgb(228, 174, 88);
}

.content-skills__text {
    font-size: 12px;
    margin: 0px 50px 20px 50px;
}

.skills__avatar {
    display: flex;
    height: 300px;
    flex-basis: 25%;
}

.skills__img {
    width: 100%;
    object-fit: cover;
}

.skills-rate-wrapper {
    height: 300px;
    display: flex;
    align-items: center;
    flex-basis: 25%;
    background: rgb(228, 174, 88);
}

.skills__rate {
    display: flex;
    flex-direction: column;
}

.rate-skills__title {
    margin: 0px 0px 20px 50px;
    font-size: 25px;
}

.rate-skills__text {
    margin: 0px 50px 20px 50px;
    font-size: 12px;
}

.rate-skills__item {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 5px 50px;
    font-size: 10px;
}

.item-rate-skills__title {
    color: black;
}

.item-rate-skills__value {
    color: wheat;
}

.rate-skills__diagram {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 20px 50px;
    height: 3px;

}

.diagram-skills__left {

    /* можно ли взять значение из InnerHTML??? */
    
    background: black;
}

.diagram-skills__right {
    background: white;
}

.diagram-90 {
    width: 90%;
}

.diagram-10 {
    width: 10%;
}

.diagram-70 {
    width: 70%;
}

.diagram-30 {
    width: 30%;
}

.diagram-80 {
    width: 80%;
}

.diagram-20 {
    width: 20%;
}
