/* .project {
} */

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    padding: 50px 200px;
    position: absolute;
    z-index: 50;
    left:50%;
    transform:translate(-50%, -0%);
    width: 100%;
}

/* .header-wrapper {
   width: 90%;
} */

.footer {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.greetings {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    position: relative;

}

.skills {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.activity {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}
.experiences {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.education {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.strategy {
    display: flex;
    flex-basis: 100%;
    /* position: relative;
    justify-content: center;
    align-items: center; */
}




.header__logo {
    /* position: absolute; */
    /* left: 145px;
    top: 15px; */
    text-shadow: 1px 1px 0 white;
    font-weight: bold;
}

.header__greetings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 50%;
    background: rgb(240, 226,215);
    padding-left: 30px;
}

.header__nav {
    display: flex;
    /* flex-wrap: wrap; */
    /* padding-top: 15px; */
    /* padding-left: 60px; */
    /* margin-bottom: 120px; */
}

.nav-header__link {
    font-size: 10px;
    margin-right: 15px;
    text-decoration: none;
    color: black;
}




.greetings__avatar {
    display: flex;
    height: 700px;
    flex-basis: 50%;
    /* position: relative; */
}

.greetings__img {
    width: 100%;
    /* min-height: 500px; */
    object-fit: cover;
}

.greetings__content {
    display: flex;
    flex-direction: column;
}

.greetings-content-wrapper {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    background: rgb(240, 226,215);
}

.content-greetings__welcome {
    margin: 0px 0px 20px 50px;
    font-size: 10px;
    color: gray;
}

.content-greetings__title {
    margin: 0px 0px 20px 50px;
    font-size: 25px;
}

.text_bold {
    font-weight: bold;
}

.content-greetings__text {
    margin: 0px 50px 20px 50px;
    font-size: 12px;
    color: gray;
}

.content-greetings__button {
    margin: 0px 0px 20px 50px;
    border-radius: 15px;
    cursor: pointer;
    background: rgb(240, 226,215);
    padding: 10px 20px;
    border: 3px solid black;
    font-size: 10px;
    font-weight: bold;
    width: 25%;
}




.skills-content-wrapper {
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.skills__content {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.content-skills__title {
    margin: 0px 0px 20px 50px;
    font-size: 25px;
}

.content-skills__link {
    font-size: 12px;
    margin: 0px 0px 20px 50px;
    text-decoration: none;
    color: rgb(228, 174, 88);
}

.content-skills__text {
    font-size: 12px;
    margin: 0px 50px 20px 50px;
}

.skills__avatar {
    display: flex;
    height: 300px;
    flex-basis: 25%;
}

.skills__img {
    width: 100%;
    object-fit: cover;
}

.skills-rate-wrapper {
    height: 300px;
    display: flex;
    align-items: center;
    flex-basis: 25%;
    background: rgb(228, 174, 88);
}

.skills__rate {
    display: flex;
    flex-direction: column;
}

.rate-skills__title {
    margin: 0px 0px 20px 50px;
    font-size: 25px;
}

.rate-skills__text {
    margin: 0px 50px 20px 50px;
    font-size: 12px;
}

.rate-skills__item {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 5px 50px;
    font-size: 10px;
}

.item-rate-skills__title {
    color: black;
}

.item-rate-skills__value {
    color: wheat;
}

.rate-skills__diagram {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 20px 50px;
    height: 3px;

}

.diagram-skills__left {
    /* можно ли взять значение из InnerHTML??? */
    background: black;
}

.diagram-skills__right {
    background: white;
}

.diagram-90 {
    width: 90%;
}

.diagram-10 {
    width: 10%;
}

.diagram-70 {
    width: 70%;
}

.diagram-30 {
    width: 30%;
}

.diagram-80 {
    width: 80%;
}

.diagram-20 {
    width: 20%;
}




.item-block-wrapper {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;
}

.block-wrapper-1 {
    background: rgb(228, 174, 88);
    color: white;
}

.block-wrapper-2 {
    background: rgb(233, 113, 76);
    color: white;
}
.block-wrapper-3 {
    background: black;
    color: white;
}
.block-wrapper-4 {
    background: white;
    color: black;
}

.activity__item-block {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.block-activity__icon {
    margin-bottom: 20px;
}

.block-activity__title {
    margin-bottom: 20px;
    font-size: 25px;
}

.block-activity__text {
    margin: 0px 50px 20px 50px;
    font-size: 12px;
}




/* .experiences = .education = unname-block*/
.unname-block__avatar {
    display: flex;
    max-height: 350px;
    flex-basis: 50%;
}

.unname-block__img {
    width: 100%;
    object-fit: cover;
}

.unname-block-content-wrapper {
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

/* как объединить классы */
.experiences {
    background: rgb(233, 113, 76);
}

.education {
    background: rgb(228, 174, 88);
}

.unname-block__content {
    display: flex;
    flex-direction: column;
    color: white;
}

.content-unname-block__title {
    margin: 0px 0px 20px 50px;
    font-size: 25px;
}

.content-unname-block__text {
    margin: 0px 50px 20px 50px;
    font-size: 12px;
}

.content-unname-block__item {
    display: flex;
    margin: 20px 50px 0px 50px;
}

.item-unname-block__icon {
    margin-bottom: 20px;
}

.item-unname-block__content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.content-item-unname-block__header {
    display: flex;
    margin-bottom: 10px;
    align-items: baseline;
}

.header-item-unname-block__title {
    font-size: 25px;
}

.header-item-unname-block__date {
    font-size: 16px;
    color: black;
    margin-left: 5px;
}



.strategy__avatar {
    display: flex;
    height: 350px;
    flex-basis: 100%;
    background-color:black;

}

.strategy__img {
   width: 100%;
   object-fit: cover;
   opacity: 0.3;
}

.strategy-wrapper {
    display: flex;
    flex-basis: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.strategy__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    color: white;
}

.content-strategy__icon {
    margin-bottom: 20px;
}

.content-strategy__main {
    font-size: 25px;
    margin-bottom: 20px;
}

.content-strategy__text {
    font-size: 16px;
}




.footer-feedback-wrapper {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    background: rgb(233, 113, 76);
}

.footer__feedback {
    display: flex;
    flex-direction: column;
    color: white;
}

.feedback-footer__title {
    font-size: 25px;
    margin: 0px 50px 20px 50px;
}

.feedback-footer__text {
    font-size: 16px;
    margin: 0px 50px 20px 50px;
}

.feedback-footer__inputs-block {
    margin: 20px 50px 0px 50px;
}





            .flex-box {
                display: flex;
                flex-wrap: wrap;
            }

            .flex-box_column {
                flex-direction: column;
            }
            .block-standard {
                flex-basis: 100%;
                position: relative;
                /* text-align: center; */
                justify-content: center;
                align-items: center;

                /* height: 200px; */
            }
            .block-m {
                flex-basis: 50%;
            }
            .block-s {
                flex-basis: 25%;

            }
            .project__avatar {
                position: relative;
            }
            .img1 {
                max-width: 100%;
                min-height: 500px;
                object-fit: cover;
            }
            .img2 {
                width: 100%;
                min-height: 250px;
                object-fit: cover;
            }
            .img4 {
                width: 100%;
                max-height: 800px;
                object-fit: cover;

            }
            .img5 {
                width: 100%;
                max-height: 800px;
                object-fit: cover;

            }

            .logo {
                position: absolute;
                left: 145px;
                top: 15px;
                text-shadow: 1px 1px 0 white;
            }
            .hello {
                background: rgb(240, 226,215);
            }
            .hello__menu {
                padding-top: 15px;
                padding-left: 60px;
                margin-bottom: 120px;
            }
            .hello__p-menu {
                font-size: 10px;
                margin-right: 15px;
            }
            .p-menu__link {
                text-decoration: none;
            }
            .link_type_black {
                color: black;
            }
            .link_type_selected {
                color: rgb(228, 174, 88);
            }
            .content {
                margin-left: 30px;
            }
            .content-text {
                margin-bottom: 20px;
            }
            .text_s {
                font-size: 12px;
            }
            .text_s-ultra {
                font-size: 10px;
            }
            .text_b {
                font-size: 25px;
            }
            .text_gray {
                color: gray;
            }
            .text_orange {
                color: rgb(228, 174, 88);
            }
            .text_white {
                color: white;
            }
            .button {
                border-radius: 15px;
                cursor: pointer;
            }
            .content-button {
                background: rgb(240, 226,215);
                padding: 10px 20px;
                border: 3px solid black;
            }
            .donec {
                background: white;
            }
            .myskills {
                background: rgb(228, 174, 88);
            }

            .flex-box-row {
                display: flex;
                flex-direction: row;
                flex-basis: 100%;

            }

            .flex-box-space-between {
                display: flex;
                justify-content: space-between;
            }

            .text-absolute {
                position: absolute;
                text-align: center;
                /* left: 50%; */
            }