.header {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    padding: 50px;
    /* position: absolute; */
    z-index: 50;
    /* left:50%; */
    /* transform:translate(-50%, -0%);
    width: 100%; */
}

.header__logo {
    text-shadow: 1px 1px 0 white;
    font-weight: bold;
}

.header__greetings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 50%;
    background: rgb(240, 226,215);
    padding-left: 30px;
}

.header__nav {
    display: flex;
}

.nav-header__link {
    font-size: 10px;
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

.nav-header__link:hover {
    color: rgb(228, 174, 88);
}

/* .header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
  }

  .header__logo {
    font-weight: bold;
    text-shadow: 1px 1px 0 white;
  }

  .header__nav {
    display: flex;
  }

  .nav__link {
    margin-right: 15px;
    font-size: 10px;
    text-decoration: none;
    color: black;
  }

  .nav__link:hover {
    color: yellow;
  }

  @media screen and (max-width: 768px) {
    .header__nav {
      flex-direction: column;
    }
  } */
